<section class="not-found">
  <div class="not-found-info">
    <h2>404</h2>
    <h3>This Page Not Found</h3>
    <p>Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
    <a routerLink="/">BACK TO HOME</a>
  </div>
  <div class="shapes">
    <img src="../../assets/images/notFound/Ellipse 1.svg" class="ellipse-1">
    <img src="../../assets/images/notFound/Ellipse 2.svg" class="ellipse-2">
    <img src="../../assets/images/notFound/Ellipse 3.svg" class="ellipse-3">
    <img src="../../assets/images/notFound/Ellipse 4.svg" class="ellipse-4">
    <img src="../../assets/images/notFound/Path 4.svg" class="path-4">
  </div>
</section>