section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  background-color: #4CAB72;

  overflow: hidden;
}

.auth {
  position: relative;

  display: flex;
  align-items: center;

  height: 585px;
  width: 900px;

  background: url("../../assets/images/auth/leafs-bg.png") center / contain no-repeat #4CAB72;

  border-radius: 40px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .5)
}

.auth::after {
  position: absolute;
  bottom: 0;
  right: 80px;
  
  height: 370px;
  width: 500px;

  background: url("../../assets/images/auth/leaf.png") center / contain no-repeat;
  content: "";
}

.form {
  position: relative;
  height: 520px;
  width: 430px;

  margin-left: 35px;
  padding: 40px 80px 20px 40px;

  color: var(--white);
  text-align: center;

  background: linear-gradient(
    145.36deg,
    rgba(244, 244, 244, 0.4) -4.23%,
    rgba(244, 244, 244, 0.2) 102.58%);
  backdrop-filter: blur(5px);

  border-radius: 50px;
  border: 1px solid #F4F4F499;
  box-sizing: border-box;
}

.form h1 {
  margin-bottom: 10px;
  
  font-size: 35px;
}

.form p {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
}

.form a {
  color: #62FFB4;
  cursor: pointer;
}

.form-control {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.form-control-label {
  text-align: left;
  font-weight: 700;
}

.form-control-input {
  height: 25px;
  width: 100%;
  padding: 0;

  color: var(--white);

  background: transparent;

  border: none;
  outline: none;
  box-sizing: border-box;
}

.form-control::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 2px;

  background-color: #F4F4F4;

  content: "";
}

.error-message {
  display: block;

  text-align: left;
  font-size: 12px;
  color: #e6714e;
  line-height: 1;

  margin-top: 5px;
  margin-bottom: 0;
}

.request-error {
  font-size: 13px;
  color: #ee4b1a;

  margin-top: 20px;
}

.form-button {
  margin-top: 40px;
  padding: 13px 40px;
  
  font-size: 12px;
  color: #696969;

  background-color: #62FFB4;

  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.form-button:hover:not([disabled]) {
  background-color: #2ce089;
}

.form-button:disabled {
  background-color: #a6e2bd;
  cursor: not-allowed;
}
