<section>
  <div class="auth">
    <form class="auth-form">
      <h1>Регистрация</h1>
      <p>Уже есть аккаунт? <a routerLink="/login">Войти</a></p>
      <div class="form-control">
        <label for="name" class="form-control-label">Name</label>
        <input id="name" type="text" class="form-control-input">
      </div>
      <div class="form-control">
        <label for="email" class="form-control-label">Email</label>
        <input id="email" type="email" class="form-control-input">
      </div>
      <div class="form-control">
        <label for="password" class="form-control-label">Password</label>
        <input id="password" type="password" class="form-control-input">
      </div>
      <button type="submit" class="form-button">Зарегистрироваться</button>
    </form>
  </div>
</section>