.pagination {
  display: flex;
  justify-content: center;

  padding: 0 40px 40px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 28px;
  width: 28px;

  border-radius: 50%;
  cursor: pointer;
}

.selected {
  color: var(--white);
  background-color: var(--violet);
}

.pagination-link.selected {
  background-color: var(--violet);
}

.pagination-link:not(.selected) {
  color: var(--black);
}

.pagination-link:not(.selected):hover {
  background-color: var(--hover-light);
}
