.pagination {
  width: 100px;
  padding: 24px 40px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  /* position: fixed;
  bottom: 0; */
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 28px;
  width: 28px;

  border-radius: 50%;
  cursor: pointer;
}

.pagination-link:not(.selected):hover {
  background-color: var(--hover-light);
}

.selected {
  background-color: var(--violet);
  color: var(--white);
}