.pagination {
  display: flex;
  justify-content: center;

  padding: 0 40px 40px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 28px;
  width: 28px;

  border-radius: 50%;
  cursor: pointer;
}

.pagination-link:not(.selected):hover {
  background-color: var(--hover-light);
}

.selected {
  background-color: var(--violet);
  color: var(--white);
}