@import url("~@angular/material/prebuilt-themes/deeppurple-amber.css");

@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  src: url("./assets/fonts/SegoeUI_Regular.ttf");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: bold;
  src: url("./assets/fonts/SegoeUI_Bold.ttf");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: url("./assets/fonts/SegoeUI_SemiBold.ttf");
}

:root {
  --black: #000;
  --white: #FFFFFF;
  --violet: #8F07CF;
  --hover-light: #F2F2F2;
  --border-light: #D8D8D8;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;

  margin: 0;
  height: 100%;
  background-color: var(--white);
  
  overflow-x: hidden;

  color: var(--black);
  font: 14px/20px "Segoe UI", sans-serif;  
}

h1 {
  font-size: 24px;
  line-height: 32px;

  margin-top: 0;
  margin-bottom: 16px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  
  margin-top: 0;
  margin-bottom: 12;
}

p {
  margin-top: 0;
  width: 100%;
}

a:active,
a:hover, 
a {
  text-decoration: none;
}
