.content {
  width: 765px;
  margin: 0 auto;
  padding: 24px 40px 18px
}

.line-chart {
  display: block;

  margin-bottom: 50px;
}

.pie-chart {
  display: block;

  width: 500px;
  margin: 0 auto;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-message {
  font-size: 20px;
  color: var(--violet);
  text-transform: uppercase;

  margin: 30px 0 15px 0;
}

.error-button {
  padding: 10px 20px;

  font-size: 15px;
  color: var(--white);

  background-color: var(--violet); 

  border: none;
  outline: none;
  cursor: pointer;
}

.error-button:hover {
  background-color: rgb(160, 97, 197);
}
