<section class="page">
  <img class="page-image" src="../../assets//images/2.png" alt="first image">
  <h1>Main heading</h1>
  <p>Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за
    собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения кадров
    представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
  <p>Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели
    развития. Таким образом реализация намеченных плановых заданий способствует подготовки и реализации системы обучения
    кадров, соответствует насущным потребностям. </p>
</section>